// fonts
.fp {font-family: 'Open sans',sans-serif;} // font primary
.fh {font-family: 'Proxima Nova',sans-serif;} // font header
.fi {font-family: 'icons',sans-serif;} // font icon

// body
@bb: #fff; // body background

// colors
@c1: #000000;
@c2: #df0012;
@c3: #ffa800;
@c4: #4dab00;


.text-error {
	color: @c2;
}
.text-alert {
	color: @c3;
}
.text-success {
	color: @c4;
}

// font sizes
@fsp: 16px; // font size primary

// line heights
@lhh: 1.2; // line height header
@lhp: 1.6; // line height primary

// form
@input-size: 16px;
@input-height: 50px;
@input-padding: 25px;
@input-border: #ccc;
@input-bg: #fff;

// layout
@content-width: 1160px;
@content-width-md: 960px;
@content-width-sm: 740px;
@content-width-xs: 100%;
@content-padding: 20px;

// media query >>> @media @xs, @sm
@lg: ~"(min-width: 1480px)";
@md: ~"(min-width: 1240px) and (max-width: 1479px)";
@sm: ~"(min-width: 1040px) and (max-width: 1239px)";
@xs: ~"(max-width: 1039px)";
@xxs: ~"(max-width: 699px)";