@font-face {
  font-family: 'icons';
  src: url('../font/icons.eot?9965368');
  src: url('../font/icons.eot?9965368#iefix') format('embedded-opentype'),
       url('../font/icons.woff2?9965368') format('woff2'),
       url('../font/icons.woff?9965368') format('woff'),
       url('../font/icons.ttf?9965368') format('truetype'),
       url('../font/icons.svg?9965368#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icons';
    src: url('../font/icons.svg?9965368#icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-checkbox:before { content: '\e800'; } /* '' */
.icon-checkbox-checked:before { content: '\e801'; } /* '' */
.icon-radio:before { content: '\e802'; } /* '' */
.icon-radio-checked:before { content: '\e803'; } /* '' */
.icon-info-circled:before { content: '\e804'; } /* '' */
.icon-attention-circled:before { content: '\e805'; } /* '' */
.icon-attention:before { content: '\e806'; } /* '' */
.icon-cancel-circled:before { content: '\e807'; } /* '' */
.icon-down-open:before { content: '\e808'; } /* '' */
.icon-left-open:before { content: '\e809'; } /* '' */
.icon-right-open:before { content: '\e80a'; } /* '' */
.icon-up-open:before { content: '\e80b'; } /* '' */
.icon-play:before { content: '\e80c'; } /* '' */
.icon-down-open-mini:before { content: '\e80d'; } /* '' */
.icon-left-open-mini:before { content: '\e80e'; } /* '' */
.icon-right-open-mini:before { content: '\e80f'; } /* '' */
.icon-up-open-mini:before { content: '\e810'; } /* '' */
.icon-down-open-big:before { content: '\e811'; } /* '' */
.icon-left-open-big:before { content: '\e812'; } /* '' */
.icon-right-open-big:before { content: '\e813'; } /* '' */
.icon-up-open-big:before { content: '\e814'; } /* '' */
.icon-down-open-1:before { content: '\e815'; } /* '' */
.icon-left-open-1:before { content: '\e816'; } /* '' */
.icon-up-open-1:before { content: '\e817'; } /* '' */
.icon-right-open-1:before { content: '\e818'; } /* '' */
.icon-cd:before { content: '\e819'; } /* '' */
.icon-guitar:before { content: '\e81a'; } /* '' */
.icon-ok:before { content: '\e81b'; } /* '' */
.icon-heart:before { content: '\e81c'; } /* '' */
.icon-cancel:before { content: '\e81d'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-mic:before { content: '\f130'; } /* '' */
.icon-play-circled:before { content: '\f144'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-commenting:before { content: '\f27a'; } /* '' */
.icon-shopping-basket:before { content: '\f291'; } /* '' */