
.icon-checkbox:before { content: '\e800'; } /* '' */
.icon-checkbox-checked:before { content: '\e801'; } /* '' */
.icon-radio:before { content: '\e802'; } /* '' */
.icon-radio-checked:before { content: '\e803'; } /* '' */
.icon-info-circled:before { content: '\e804'; } /* '' */
.icon-attention-circled:before { content: '\e805'; } /* '' */
.icon-attention:before { content: '\e806'; } /* '' */
.icon-cancel-circled:before { content: '\e807'; } /* '' */
.icon-down-open:before { content: '\e808'; } /* '' */
.icon-left-open:before { content: '\e809'; } /* '' */
.icon-right-open:before { content: '\e80a'; } /* '' */
.icon-up-open:before { content: '\e80b'; } /* '' */
.icon-play:before { content: '\e80c'; } /* '' */
.icon-down-open-mini:before { content: '\e80d'; } /* '' */
.icon-left-open-mini:before { content: '\e80e'; } /* '' */
.icon-right-open-mini:before { content: '\e80f'; } /* '' */
.icon-up-open-mini:before { content: '\e810'; } /* '' */
.icon-down-open-big:before { content: '\e811'; } /* '' */
.icon-left-open-big:before { content: '\e812'; } /* '' */
.icon-right-open-big:before { content: '\e813'; } /* '' */
.icon-up-open-big:before { content: '\e814'; } /* '' */
.icon-down-open-1:before { content: '\e815'; } /* '' */
.icon-left-open-1:before { content: '\e816'; } /* '' */
.icon-up-open-1:before { content: '\e817'; } /* '' */
.icon-right-open-1:before { content: '\e818'; } /* '' */
.icon-cd:before { content: '\e819'; } /* '' */
.icon-guitar:before { content: '\e81a'; } /* '' */
.icon-ok:before { content: '\e81b'; } /* '' */
.icon-heart:before { content: '\e81c'; } /* '' */
.icon-cancel:before { content: '\e81d'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-mic:before { content: '\f130'; } /* '' */
.icon-play-circled:before { content: '\f144'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-commenting:before { content: '\f27a'; } /* '' */
.icon-shopping-basket:before { content: '\f291'; } /* '' */